<h1> <%= @application.name %> </h1>

<h3> <%= @application.address %> </h3>

<h3> Summary statement: <%= @application.description %> </h3>
Pets applied for:
<% @application.pets.all.map do |pet| %>
<h3> <%= pet.name %> </h3>
<% end %>
<br>
<h4> <%= @application.status %> </h4>
<br>
<h1> Add a Pet to this Application </h1>
  <%= form_with url: "/applications/new/#{@application.id}", method: :get do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
  <% end %>
<br>
<h2>
    <% if @pet != nil %>
     <%= @pet.name  %>
     <%= link_to("Adopt this pet", "/applications/new/#{@application.id}?add=yes&pet_adopt=#{@pet.name}") %>
    <% end %>

</h2>
